/*
body {
  font-family: "Lato", sans-serif;
  overflow:hidden;
  transition: background-color .5s;
}

nav{
 background-image: url("../images/")
}

.navigation {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: 0 4px 4px -3px #232323;
  -moz-box-shadow: 0 4px 4px -3px #232323;
  -webkit-box-shadow: 0 4px 4px -3px #232323;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  padding-top: 0px;
  background-image: url("../");
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  margin-top:30px;
  text-align:center;
  list-style:none; 
  margin-left:auto;
  margin-right:auto;
}


.menulist {
  width:200px;
}


.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
  padding-top:12px;
  padding-bottom:12px;
  text-decoration: none;
  list-style:none; 
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  display: inline-block;
  position:relative;	
  text-align:center;
  color: #fff;
  opacity:0.0;
  transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
  width:100%;
}

#closebtn {
  height:25px;
  width:25px;	
  position: absolute;
  text-decoration:none;
  top: 10px;
  left: 25px;
  font-size: 36px !important;
  margin-right: 10px;
  z-index:100;
  color:white;
  cursor:pointer;
  transition:background-position .3s;
}

#main {	
  transition: margin-top .4s;
  text-align:center;
  margin:auto;
  padding: 16px;
  font-size:30px;
  }*/



  /*seccion-tres*/

  #logo-desktop{
    margin-left:-1%;
    margin-top:-60%;

  }

  .titulo{
    color: white;
    font-weight:bold;
    font-size:80px;
    margin-top:25%;
    margin-left:20%;
    width:100px;
  }

  .parrafo{
    color: white;
    width:800px;
    margin-left:20%;
    font-size:25px;
  }


  /*seccion-cuatro*/

  .te{
    color: #EA9897;
    font-weight:bold;
    margin-top: 120%;
    font-size:50px;

  }

  .parrafo-te{
    color:#898081;
    font-weight:bold;
    margin-bottom:30%;
  }

  /*seccion-cinco*/

  .img-1{
    position:relative;
    right:73px;
    width:116%;
  }

  .img-2{
    position:relative;
    right:30px;
  }

  .img-3{
    position:relative;
    left:12px;
  }

  .img-4{
    position:relative;
    right:14px;
    bottom:75px;
  }

  #mini-texto{
    color:white;
    position:relative;
    bottom:400px;
    font-weight:bold;
  }

  #mini-texto1{
    color:white;
    position:relative;
    bottom:200px;
    width:200px;
    left:60px;
    text-align:center;
    font-weight:bold;
  }

  #mini-texto2{
    color:white;
    position:relative;
    bottom:200px;
    width:250px;
    left:60px;
    text-align:center;
    font-weight:bold;
  }

  #mini-texto3{
    color:white;
    position:relative;
    bottom:270px;
    width:260px;
    left:120px;
    text-align:center;
    font-weight:bold;
  }

  /*seccion seis*/

  .img-6{
    position:relative;
    right:73px;
    top:-151px;
  }

  .titulo-2{
   color: white;
   font-weight:bold;
   font-size:80px;
   position:relative;
   bottom:680px;
   width: 600px;
   left:250px; 
 }

 .logo{
   position:relative;
   bottom:900px;
}
