/*seccion uno*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

#uno{
 background-image: url('../img/fondo-bienvenida.jpg');
 background-position: center;
 background-size: cover;
 height:100vh;
}

.logo{
  padding-top: 60px;
  padding-right: 1000px;
}

.navigation {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 4px 4px -3px #232323;
  -moz-box-shadow: 0 4px 4px -3px #232323;
  -webkit-box-shadow: 0 4px 4px -3px #232323;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  padding-top: 0px;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  margin-top:50px;
  text-align:center;
  list-style:none; 
  margin-left:auto;
  margin-right:auto;
}


.menulist {
  width:200px;
}


.logo {
  text-align:center;
  margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:yellow;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:yellow;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:yellow;
  top:-7px;
}

.menuitems {
  padding-top:12px;
  padding-bottom:12px;
  text-decoration: none;
  list-style:none; 
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  display: inline-block;
  position:relative;  
  text-align:center;
  color: #fff;
  opacity:0.0;
  transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
  width:100%;
}

#closebtn {
  height:25px;
  width:25px; 
  position: absolute;
  text-decoration:none;
  top: 10px;
  left: 25px;
  font-size: 36px !important;
  margin-left: 1200px;
  z-index:100;
  color:#fff;
  cursor:pointer;
  trainsition:background-position .3s;
}

#main { 
  transition: margin-top .4s;
  text-align:center;
  margin:auto;
  padding: 16px;
  font-size:30px;
}


/*seccion dos*/
.video{
  width: 100%;
  height: auto;
}
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*seccion tres*/
#tres{

  background-image: url('../img/fondo-about.jpg');
  background-position: center;
  background-size: cover;
  height:100vh;
}

.titulo{
  color:white;
  font-weight:bold;
  font-size:80px;
  text-align:justify;
  padding-left:400px;
}

.parrafo{
 color:white;
 font-size:30px;
 text-align:justify;
 padding-left:400px;
 width:1000px;

}

/*seccion-cuatro*/

#cuatro{
  padding-top:60px;
  padding-bottom:60px;
  margin-left:110px;
}

.te{
  color: #e89697;
  font-size:50px;
  font-weight:bold;
  text-align:center;
}

.espacio{
  margin:10px;
}

.descripcion{
  font-size:15px;
}


/*seccion cinco*/
#cinco{
  .container-efecto {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

  }
  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .div-img.oculto {
    overflow: hidden;
  }
  .div-img .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
  }
  .div-img:hover .img-1 {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  .div-img:hover .img-2 {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  .div-img:hover .img-3 {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  .div-img:hover .img-4 {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}


.img-1{
  background-image:url('../img/min-video-1-2.jpg');
  height:536px;
  background-repeat:no-repeat;
  background-size:cover;
}

.img-2{
  background-image:url('../img/min-video-3.jpg');
  height:300px;
  background-repeat:no-repeat;
  background-size:cover;

}

.img-3{
  background-image:url('../img/min-video-5.jpg');
  height:300px;
  background-repeat:no-repeat;
  background-size:cover;
  
}

.img-4{
  background-image:url('../img/min-video-6.jpg');
  height:290px;
  background-repeat:no-repeat;
  background-size:cover;
  
}

#mini-texto{
  padding-top:250px;
  padding-left:80px;
  color:white;
  font-size:15px;
}

#mini-texto1{
  padding-top:100px;
  padding-left:40px;
  width:250px;
  color:white;
  font-size:15px;

}

#mini-texto2{
  padding-top:100px;
  padding-left:20px;
  width:250px;
  color:white;
  font-size:15px;
}

#mini-texto3{
  padding-top:150px;
  padding-left:120px;
  width:350px;
  color:white;
  font-size:15px;
}


/*seccion seis*/

#seis{
  background-image:url('../img/disfruta.jpg');
  background-position: center;
  background-size: cover;
  height:100vh;
}

.titulo-uno{
  color:white;
  font-weight:bold;
  font-size:80px;
  text-align:justify;
  padding-left:280px;
  padding-top:240px;
}


/*seccion siete*/
#siete{
  height:100vh;
}

.texto-siete{
  font-weight:bold;
  width:300px;
  padding-top:40px;
}

.parrafo-siete{
  font-size:15px;
  width:350px;
}

.fondo-amarillo{
 background-color: #8ec641;
 height:100vh;

}


/*seccion ocho*/
#ocho{
  height:100vh;
}

.texto-ocho{
  font-weight:bold;
  width:420px;
  padding-top:40px;
  padding-left:170px;
}

.parrafo-ocho{
  font-size:15px;
  width:220px;
  padding-left:100px;
}

.fondo-verde{
 background-color: #f0e7ae;
 height:100vh;

}

/*seccion nueve*/

#nueve{
  height:100vh;
}

.texto-nueve{
  font-weight:bold;
  width:300px;
  padding-top:40px;
}

.parrafo-nueve{
  font-size:15px;
  width:350px;
}

.fondo-rosado{
 background-color: #ed9a9d;
 height:100vh;
}

/*seccion diez*/
#diez{
  height:100vh;
  background-image:url('../img/parallax-4.jpg');
}

.titulo-tres{
  color:white;
  font-weight:bold;
  font-size:80px;
  text-align:justify;
  padding-left:280px;
  padding-top:150px;

}


/*seccion doce*/
.doce{
  height:100vh;
  padding-top:80px;
  margin-bottom:10%;
}

h2{
  padding-top:25px;
}

p{
  font-size:17px;
}

ul{
  font-size:17px;
  padding-left:60px;
}

.imagen-te{
  background-image:url('../img/paquete.png');
  height:100vh;
}

/*footer*/

.footer{
  position: absolute;
  width: 100%;
  height: 150px;
  margin: 0;
  background-color: #3B3B3B;
}

h4{
  color:white;
  margin-top:-54px;
  margin-right:305px;
}

.logo-footer{
  margin-left:7%;
  margin-top:3%;
}